:root {
    --kls-primary-color:rgb(255, 186, 96);
    --kls-secondary-color: rgb(255, 167, 51);
    --kls-highlight-color: rgb(255, 215, 85);

    --kls-nav-toggler-color: var(--kls-highlight-color);
    --kls-nav-toggler-glow: rgba(225, 215, 85, 0.55);

    --kls-dark-color: #212121;
    --kls-light-color: #fbedde;
    --kls-background-color: rgba(250,250,250, 0.8); 

    --kls-title-font: 'Bebas Neue', sans-serif;
    --kls-subtitle-font: 'Fira Sans', sans-serif;
    --kls-heading-font: 'Bebas Neue', sans-serif;
    --kls-body-font: 'Roboto', sans-serif;

    --kls-font-size: 1.2rem;
    --kls-font-weight: 400;
    --kls-line-height: 1.5rem;

    --kls-title-color: var(--kls-dark-color);



}




/*---- Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: var(--kls-body-font);
    font-size: var(--kls-font-size);
    font-weight: var(--kls-font-weight);
    line-height: var(--kls-line-height);
    color: var(--kls-dark-color);
    background: var(--kls-background-color);
}

.content {
    flex: 1 0 auto;
    margin-top: 1rem;
}

footer {
    flex-shrink: 0;
}
/*END: STICKY FOOTER*/

/*------------------------------------------------------------------------------------*/

/*---- NAV BAR OVERRIDES*/
#mainNav {
    background: var(--kls-dark-color);
}

#mainNav button {
    border-color: var(--kls-highlight-color);
}

.navbar-toggler {
    color: var(--kls-nav-toggler-glow);
}

.navbar-toggler-icon-kls {
    color: var(--kls-nav-toggler-color);
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}
/*END: NAV BAR OVERRIDES*/

/*------------------------------------------------------------------------------------*/

/*---- FOOTER STYLES*/

.footer-main {
    background-color: var(--kls-dark-color);
    color: var(--kls-light-color)
}

.footer-main a.socialicons{
    color: var(--kls-secondary-color);
    opacity: 1;
    transition: color 0.25s ease-in;
}

.footer-main a.socialicons:hover{
    color: var(--kls-highlight-color);
    opacity: 1;
}

.socialicons {
    font-size: 2rem;
}


/*END FOOTER STYLES*/

/*------------------------------------------------------------------------------------*/

/*---- HEADER STYLES*/

.mainHeader {
    height: 200px;
    background-image: url(/img/JillPrestonBanner_576.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: var(--kls-light-color);
}
.mainHeader-content {

}

.mainHeader-wrapper {
    padding-left: 1rem;
}

.mainTitle {
    font-family: var(--kls-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
    color: var(--kls-dark-color);
}

.mainLogo {
    height: .6em;
}

.subTitle {
    font-family: var(--kls-subtitle-font);
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 300;
    color: var(--kls-dark-color);
    letter-spacing: .09rem;
}

/*END HEADER STYLES*/

/*------------------------------------------------------------------------------------*/

/* START SECTION STYLES */
.profilePic {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    /*BOX SHADOW SITE: https://getcssscan.com/css-box-shadow-examples */
}

/*------------------------------------------------------------------------------------*/
/* SITES FOR BACKGROUND IMAGES: https://unsplash.com/s/photos/ https://www.pexels.com/ */
/*------------------------------------------------------------------------------------*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .mainHeader {
        height: 200px;
        background-image: url(/img/JillPrestonBanner_767.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-color: var(--kls-light-color);
    }
    .mainHeader-content {
    
    }
    
    .mainHeader-wrapper {
        padding-left: 1rem;
    }
    
    .mainTitle {
        font-family: var(--kls-title-font);
        font-size: 2.5rem;
        line-height: 2rem;
        color: var(--kls-dark-color);
    }
    
    .mainLogo {
        height: .6em;
    }
    
    .subTitle {
        font-family: var(--kls-subtitle-font);
        font-size: .6rem;
        line-height: 1rem;
        font-weight: 300;
        color: var(--kls-dark-color);
        letter-spacing: .09rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .mainHeader {
        height: 300px;
        background-image: url(/img/JillPrestonBanner_992.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-color: var(--kls-light-color);
    }
    .mainHeader-content {
    
    }
    
    .mainHeader-wrapper {
        padding-left: 1rem;
    }
    
    .mainTitle {
        font-family: var(--kls-title-font);
        font-size: 4.5rem;
        line-height: 3.5rem;
        color: var(--kls-dark-color);
    }
    
    .mainLogo {
        height: .6em;
    }
    
    .subTitle {
        font-family: var(--kls-subtitle-font);
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 300;
        color: var(--kls-dark-color);
        letter-spacing: .1rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .mainHeader {
        height: 400px;
        background-image: url(/img/JillPrestonBanner_1200.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-color: var(--kls-light-color);
    }
    .mainHeader-content {
    
    }
    
    .mainHeader-wrapper {
        padding-left: 1rem;
    }
    
    .mainTitle {
        font-family: var(--kls-title-font);
        font-size: 5rem;
        line-height: 3.5rem;
        color: var(--kls-dark-color);
    }
    
    .mainLogo {
        height: .9em;
    }
    
    .subTitle {
        font-family: var(--kls-subtitle-font);
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 300;
        color: var(--kls-dark-color);
        letter-spacing: .2rem;
    }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .mainHeader {
        height: 500px;
        background-image: url(/img/JillPrestonBanner_2560.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-color: var(--kls-light-color);
    }
    .mainHeader-content {
    
    }
    
    .mainHeader-wrapper {
        padding-left: 1rem;
    }
    
    .mainTitle {
        font-family: var(--kls-title-font);
        font-size: 6rem;
        line-height: 4.5rem;
        color: var(--kls-dark-color);
    }
    
    .mainLogo {
        height: .9em;
    }
    
    .subTitle {
        font-family: var(--kls-subtitle-font);
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 300;
        color: var(--kls-dark-color);
        letter-spacing: .2rem;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    
 }